/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'VCR OSD Mono', sans-serif;
    background-color: #1c1c1c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    overflow-x: hidden; /* Ajustar para ocultar apenas o overflow horizontal */
}

/* Vídeo de fundo */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Contêiner principal */
.main-container {
    background-color: rgba(44, 44, 44, 0.9);
    border-radius: 15px;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    position: relative;
    z-index: 2;
    overflow-y: auto; /* Permitir rolagem vertical */
}

/* Cabeçalho */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #f39c12;
    text-shadow: 2px 2px #000;
    font-size: 2.5em;
    margin-bottom: 20px;
}

header .intro-text {
    font-size: 1.2em;
    line-height: 1.6;
    color: #e0e0e0;
    margin-bottom: 20px;
    text-align: justify;
}

/* Seção de vídeos */
.outros-videos h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #f39c12;
    text-shadow: 2px 2px #000;
    font-size: 2em;
}

/* Estilo do painel de vídeos */
.video-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilo individual para cada vídeo */
.video-container {
    margin: 10px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    width: calc(33% - 20px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.2s;
}

.video-container:hover {
    transform: scale(1.05);
}

.video-container video {
    width: 100%;
    height: auto;
}

.video-title {
    font-size: 1.2em;
    padding: 10px;
    color: #f39c12;
    text-shadow: 1px 1px #000;
    text-align: center;
}

/* Texto na parte inferior */
.bottom-text {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 2px solid #f39c12;
}

.bottom-text p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #e0e0e0;
    text-align: justify;
    margin-bottom: 20px;
}

.divider {
    border-bottom: 2px solid #f39c12;
    margin-bottom: 20px;
}

/* Estilo para imagem ao lado do texto */
.side-image {
    float: left;
    margin: 0 20px 20px 0;
    width: 650px; /* Ajuste a largura conforme necessário */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
